<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

<!--    开启注解-->
    <context:annotation-config />

    <bean id="cat" class="com.kuang.pojo.Cat" />
    <bean id="dog23" class="com.kuang.pojo.Dog" />

<!--    自动装配
        byName:自动在上下文查找，和自己对象的set方法的值对应
        byType:自动在上下文查找，查找自己对象属性类型相同的bean，全局唯一
-->
<!--    <bean id="person" class="com.kuang.pojo.Person" autowire="byType">-->
<!--        <property name="name" value="假道伐虢"/>-->
<!--    </bean>-->

    <bean id="person" class="com.kuang.pojo.Person">

    </bean>

</beans>